{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include 'partials/_busca.html' %}

{% include 'partials/_menu.html' %}

<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            {% if galeria %}
            {% for foto in galeria %}
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    {% if foto.fotinha %}
                    <img src="{{ foto.fotinha.url }}" alt="">
                    {% else %}
                    {% endif %}
                    <div class="receipe-content">
                        <a href="{% url 'foto' foto.id %}">
                            <h5>{{ foto.titulo_foto }}</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12 col-sm-6 col-lg-4">
                <p>Foto não encontrada</p>
                {% endif %}

            </div>
        </div>
</section>
<!-- ##### Best Receipe Area End ##### -->

{% include 'partials/_footer.html' %}

{% endblock %}
