{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}


{% include 'partials/_busca.html' %}

{% include 'partials/_menu.html' %}

<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding">
    <div class="container contact-form-area">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Edite aqui sua foto, {{ user.username }} :)</h3>
                </div>
            </div>
        </div>
        {% include 'partials/_alertas.html'%}
        <div class="row">
            <p>Alguns campos são obrigatórios</p>
        </div>
        <form action="{% url 'atualiza_foto' id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex form-group justify-content-between">
                <div class="col-6">
                    <div class="col-12 d-flex">
                        <div>
                            <label for="{{ form.publicada.id_for_label }}"><b>{{ form.publicada.label }}?</b></label>
                            {{ form.publicada | add_class:'form-control' }}
                        </div>

                        <div class="col-11">
                            <label for=" {{ form.titulo_foto.id_for_label }}"><b>{{ form.titulo_foto.label }}</b>
                            </label>
                            {{ form.titulo_foto | add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="col-12">
                        <img src="/media/{{ form.fotinha.value }}" alt="" width="100%">
                    </div>
                </div>
                <div class="col-6">

                    <label for=" {{ form.descricao.id_for_label }}"><b>{{ form.descricao.label }}</b></label>
                    {{ form.descricao | add_class:'form-control' }}

                    <label for=" {{ form.fonte.id_for_label }}"><b>{{ form.fonte.label }}</b></label>
                    {{ form.fonte | add_class:'form-control' }}


                    <label for=" {{ form.categoria.id_for_label }}"><b>{{ form.categoria.label }}</b></label>
                    {{ form.categoria | add_class:'form-control' }}

                    <label for=" {{ form.local.id_for_label }}"><b>{{ form.local.label }}</b></label>
                    {{ form.local | add_class:'form-control' }}

                    <div class="d-flex justify-content-between">
                        <div>
                            <label for=" {{ form.data_foto.id_for_label }}"><b>{{ form.data_foto.label }}</b></label>
                            <input id="{{ form.data_foto.id_for_label }}" name="{{ form.data_foto.name }}" type="date"
                                class="form-control" value="{{ form.data_foto.value | date:'Y-m-d'}}">
                        </div>

                        <div>
                            <label for=" {{ form.votos.id_for_label }}"><b>{{ form.votos.label }}</b></label>
                            {{ form.votos | add_class:'form-control' }}
                        </div>
                    </div>
                </div>
            </div>

            {% for error in field.errors %}
            <section class="alert alert-danger" role="alert">
                {{ field.errors }}
            </section>
            {% endfor %}
            <div class="text-center">
                <button class="btn delicious-btn btn-success" type="submit">Atualizar</button>
            </div>
        </form>
    </div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}